* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    background: linear-gradient(150deg, #ffffff, #a8a8a8);
}

header {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 20px;
    align-items: center;
}

header img {
    width: 20px;
}

header a {
    cursor: pointer;
    text-decoration: none;
    color: #9f9e9e;
    font-size: 12px;
    font-weight: 400;
}

header a:hover {
    color: #575757;
}

header a:visited {
    color: #9f9e9e;
}

header a:visited:hover {
    color: #575757;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.cell-img {
    width: 500px;
    animation: 1.5s ease-in-out cell-appear;
}

.main-div h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.main-div h3 {
    font-size: 40px;
    margin-bottom: 20px;
}

.main-div p {
    margin-bottom: 10px;
}

.main-div h6 {
    opacity: 0.7;
    font-size: 20px;
    font-weight: 300;
    margin-top: 30px;
}

.main-div button {
    background-color: #0071e3;
    border-radius: 20px;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.main-div button:hover {
    background-color: #81A5C4;
    color: #000;
}

.main-div button:active {
    opacity: 0.3;
}

.main-div h5 {
    font-weight: 900;
    font-size: 16px;
    margin-top: 20px;
}

.colors {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.colors span {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

#blue {
    background-color: #81A5C4;
}

#yellow {
    background-color: #F7DA47;
}

#white {
    background-color: #C1C1C1;
}

#black {
    background-color: #272D33;
}

#red {
    background-color: #B50012;
}

#purple {
    background-color: #EDE7F1;
}

.circulo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -9;
    background-color: #81A5C4;
    clip-path: circle(700px at right 900px);
    width: 100%;
    height: 100%;
    animation: 2.5s ease-in-out circle-appear;
}

@keyframes cell-appear {
    from {
        width: 50px;
    }

    to {
        width: 500px;
    }
}

@keyframes circle-appear {
    0% {
        clip-path: circle(0%);
    }

    40% {
        clip-path: circle(900px at right 900px);
    }

    100% {
        clip-path: circle(700px at right 900px);
    }
}

@media screen and (max-width: 1030px) {

    header {
        display: none;
    }

    main {
        flex-direction: column;
    }

    .cell-img {
        width: 400px;
    }

    .colors {
        justify-content: center;
    }

    .circulo {
        clip-path: circle(700px at right 1100px);
    }

    @keyframes cell-appear {
        from {
            width: 50px;
        }

        to {
            width: 400px;
        }
    }

    @keyframes circle-appear {
        0% {
            clip-path: circle(0%);
        }

        40% {
            clip-path: circle(900px at right 900px);
        }

        100% {
            clip-path: circle(700px at right 1100px);
        }
    }
}

@media screen and (max-width: 500px) {

    main {
        padding: 25px;
        text-align: center;
    }

    .cell-img {
        width: 220px;
    }

    .main-div h2 {
        font-size: 20px;
    }

    .main-div h3 {
        font-size: 25px;
    }

    .main-div h6 {
        font-size: 14px;
    }

    .circulo {
        clip-path: circle(500px at right 1000px);
    }

    @keyframes cell-appear {
        from {
            width: 50px;
        }

        to {
            width: 220px;
        }
    }

    @keyframes circle-appear {
        0% {
            clip-path: circle(0%);
        }

        40% {
            clip-path: circle(900px at right 900px);
        }

        100% {
            clip-path: circle(500px at right 1000px);
        }
    }
}

@media screen and (max-width: 400px) {

    .cell-img {
        width: 200px;
    }

    .circulo {
        clip-path: circle(500px at right 900px);
    }

    @keyframes cell-appear {
        from {
            width: 50px;
        }

        to {
            width: 200px;
        }
    }

    @keyframes circle-appear {
        0% {
            clip-path: circle(0%);
        }

        40% {
            clip-path: circle(900px at right 900px);
        }

        100% {
            clip-path: circle(500px at right 900px);
        }
    }
}